<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login - Login Seguro</title>

    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

    <div class="login-container">

        <div class="login-card">

            <h2>Login</h2>

            <form th:action="@{/login}" method="post">

                <label for="email">E-mail</label>
                <input
                    type="email"
                    id="email"
                    name="username"
                    required>

                <label for="senha">Senha</label>
                <input
                    type="password"
                    id="senha"
                    name="password"
                    required>

                <button type="submit">
                    Entrar
                </button>

            </form>

            <a th:href="@{/cadastro}">
                Ainda não possui uma conta? Cadastre-se
            </a>

        </div>

    </div>

    <script th:src="@{/js/login.js}"></script>

</body>

</html>